DJANGO_SECRET_KEY=troque-por-uma-chave-secreta
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=gestao_tarefas
DB_USER=postgres
DB_PASSWORD=sua-senha-do-postgres
DB_HOST=localhost
DB_PORT=5432
